/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --bg-color: rgb(216, 183, 121);
    --inner-color: wheat;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border-bottom: 1px solid black;

    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 5rem;
}

.header-timer {
    display: none;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}

.header-score {
    display: none;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}

main {
    flex: 1 1 auto;
    background-color: lightblue;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



.control-panel-bg {
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--bg-color);

    /* DELETE */
    /* display: none; */
}

.control-panel {
    padding: 2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--inner-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.control-panel p {
    font-size: 3rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-container > * {
    border: 1px solid black;
    padding: 1rem;
}

.control-panel .difficulty-text {
    font-size: 2rem;
}



.difficulty-bg {
    background-color: var(--bg-color);
    padding: 1rem;
    width: 40%;
    border-radius: 15px;
    border: 1px solid black;

    /* DELETE */
    display: none;
}

.difficulty {
    background-color: var(--inner-color);
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.difficulty-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.difficulty-buttons > * {
    border: 1px solid black;
    padding: 1rem;
}

.difficulty p {
    font-size: 2rem;
    text-align: center;
}





.scores-bg {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--bg-color);

    /* DELETE */
    display: none;
}

.scores {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: var(--inner-color);
    border: 1px solid black;
    overflow-y: auto;
    padding: 2rem;
}

table {
    width: 100%;
    border-spacing: 0px 10px;
}

th:nth-child(1), td:nth-child(1) {
    width: 40%;
    text-align: center;
}

th:nth-child(2), td:nth-child(2) {
    width: 30%;
    text-align: right;
}

th:nth-child(3), td:nth-child(3) {
    width: 30%;
    text-align: right;
}


.scores::-webkit-scrollbar {
    width: 12px;
}

.scores::-webkit-scrollbar-track {
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.scores::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 9px;
}

.color-select-bg {
    border: 1px solid black;
    background-color: var(--bg-color);
    padding: 1rem;
    
    /* DELETE */
    display: none;
}

.color-select {
    border: 1px solid black;
    background-color: var(--inner-color);
    padding: 1.5rem;

    display: flex;
    gap: 1rem;
}

.color-select div {
    border: 1px solid black;
    padding: 0.7rem;
}

.timer {
    font-size: 3rem;
    display: none;
}

.back-button-bg {
    border: 1px solid black;
    padding: 0.7rem;
    border-radius: 10px;
    background-color: var(--bg-color);

    /* DELETE */
    display: none;
}

.back-button {
    border: 1px solid black;
    padding: 0.9rem 1.3rem;
    border-radius: 10px;
    background-color: var(--inner-color);
}

.target {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    top: 0;
    left: 0;
    display: none;
}

.gameover-panel {
    display: none;

    /* display: flex; */
    flex-direction: column;
    text-align: center;
    gap: 1rem;

}

.gameover-text {
    font-size: 4rem;
}

.gameover-score {
    font-size: 2rem;
}




footer {
    padding: 1rem;
}

